/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  background-color: #f9fafb;
}

/* Hero */
header.hero {
  background: linear-gradient(160deg, #3E2BF6, #A126C3);
  color: #f9fafb;
  padding: 4rem 1rem;
  text-align: center;
}

header.hero h1 {
  font-size: 2.75rem;
  margin-bottom: 1rem;
}

header.hero h2 {
  font-size: 1.75rem;
}

/* Content */
main.content {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 70%;
}

section {
  margin-bottom: 3rem;
}

.key-message, .positioning-statement {
  font-size: 1.25rem;
  color: #1e1e2f;
  margin-bottom: 1rem;
  border-left: 4px solid #7c3aed; 
  background-color: #f0edf9;
  padding: 1.5rem;
}

main.content h2 {
  font-size: 1.4rem;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  margin-bottom: 1.2rem;
}

/* Footer */
footer {
  font-size: 1rem;
  text-align: center;
  padding: 2rem;
}

